main{
  padding-left:10%;
  padding-right:10%;
  padding-top:5%;
  padding-bottom:7%;
}
.about{
  text-align: left;
}
.about h1{
  font-size:clamp(1.4rem, 2vw, 2rem);
}
.about p{
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  padding-left:3%;
  margin-top: 4%;
  margin-bottom:6%;
}
.about-image{
  min-height:15rem;
}
@media(min-width: 30em){
  main{
    padding-left:10%;
    padding-right:8.2%;
  }
}
@media(min-width:52em){
  main{
    padding-left:14.5%;
    padding-right:12%;
  }
}